<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRANSVERSAL</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body class="imgprincipal">

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <div id="app">
        <!--Menu Principal-->
        <h1 class="tac paddingcomun">CONTRUCTORA TRANSVERSAL</h1>

        <!--Seccion Proposito-->
        <section class="paddingcomun">
            <h2>Proposito Constructora Transversal</h2>
            <p>Esta pagina web tiene como proposito el registro de usuarios en nuestro sistema</p>
        </section>

        <!--listado de Usuarios-->

        <section class="paddingcomun">
            <h2>Usuarios Registrados</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Correo Electronico</th>
                        <th scope="col">Cargo</th>
                        <th scope="col">Fecha de Ingreso</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="usuario in usuarios">
                        <td>{{usuario.nombre}} {{usuario.apellido}}</td>
                        <td>{{usuario.email}}</td>
                        <td>{{usuario.cargo}}</td>
                        <td>{{usuario.fechaIngreso}}</td>
                        <td><button v-on:click.prevent="eliminarregistro">Eliminar</button></td>
                    </tr>
                </tbody>
            </table>


        </section>
        <section id="registro" class="paddingcomun">
            <h2>Registro de Usuarios</h2>
            <form>
                <div class="group">
                    <div class="inputgroup">
                        <label for="nombre">Nombre:</label>
                        <input v-model="formulario.nombre" type="text" id="nombre" placeholder="Nombre" name="nombre"
                            required>
                        <p v-if="erroresformulario?.nombre"><small class="Error">{{erroresformulario.nombre}}</small>
                        </p>
                    </div>

                    <div class="inputgroup">
                        <label for="apellido">Apellido:</label>
                        <input v-model="formulario.apellido" type="text" id="apellido" placeholder="Apellido"
                            name="apellido" required>
                        <p v-if="erroresformulario?.apellido"><small
                                class="Error">{{erroresformulario.apellido}}</small></p>
                    </div>
                </div>

                <div class="group">
                    <div class="inputgroup">
                        <label for="correo">Correo Electronico</label>
                        <input v-model="formulario.email" type="email" id="correo" placeholder="Email" name="Correo"
                            required>
                        <p v-if="erroresformulario?.email"><small class="Error">{{erroresformulario.email}}</small></p>
                    </div>
                    <div class="inputgroup">
                        <label for="cargo">Cargo:</label>
                        <select v-model="formulario.cargo" id="cargo" name="Cargo" required>
                            <option value="" disabled selected hidden>Selecciona un Cargo</option>
                            <option value="arquitecto">Arquitecto</option>
                            <option value="contructor">Contructor</option>
                            <option value="albanir">Albañir</option>
                        </select>
                    </div>
                </div>
                <div class="group">
                    <div class="inputgroup">
                        <label for="fecha-ingreso">Fecha de Ingreso:</label>
                        <input v-model="formulario.fechaIngreso" type="date" id="fecha-ingreso" name="fecha-ingreso"
                            required>
                        <p v-if="erroresformulario?.fechaIngreso"><small
                                class="Error">{{erroresformulario.fechaIngreso}}</small></p>
                    </div>
                    <div class="inputgroup">
                        <label for="fecha-nacimiento">Fecha Nacimiento:</label>
                        <input v-model="formulario.fechaNacimiento" type="date" id="fecha-nacimiento"
                            name="fecha-nacimiento" required>
                        <p v-if="erroresformulario.fechaNacimiento"><small
                                class="Error">{{erroresformulario.fechaNacimiento}}</small></p>
                    </div>
                </div>
 

                <button v-on:click.prevent="enviarFormulario">Registrar</button>
            </form>
        </section>

        <!-- Button trigger modal -->
        <button id="botonmodal" type="button" style="display: none;" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#exampleModal">
            Launch demo modal
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Los Datos Registrado son:</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Los Datos Registrado son:</p>
                        <div class="resultadoformulario">
                            <p>Nombre: <span>{{formulario.nombre}}</span></p>
                            <p>Apellido: <span>{{formulario.apellido}}</span></p>
                            <p>Email: <span>{{formulario.email}}</span></p>
                            <p>Cargo: <span>{{formulario.cargo}}</span></p>
                            <p>Fecha de Ingreso: <span>{{formulario.fechaIngreso}}</span></p>
                            <p>Fecha de Nacimiento: <span>{{formulario.fechaNacimiento}}</span></p>
                        </div>
                        <button>confirmar</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary"
                            v-on:click.prevent="guardarregistro">Guardar</button>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <p>&copy; 2024 Contructora transversal. Todos los derechos reservados.</p>
        </footer>
    </div>

    <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
    <script src="index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>